<div class="container">
	<h3 class="sub-header pull-left">Listado de Turnos</h3>
	<br><br><br>
	<h5 class="pull-left"><%= moment(data[0].fecha).format('DD/MM/YYYY') %></h5>
</div>
<br>
<div class="table-responsive" style="background:white">
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th>Horario</th>
	      <% for(var i=0; i<data.length; i=i+4) { %>
	      	<th><%= data[i].medicoApellido %>, <%= data[i].medicoNombre %></th>
	      <% } %>
	    </tr>
	  </thead>
	  <tbody>
		<tr>
	      <td>17</td>
	      <% for(var i=0; i<data.length; i=i+4) { %>
	      	<td>
	      		<% if(data[i].pacId === null) { %>
	      			<a href="/shifts/assign/<%=data[i].turnoId%>">Disponible</a>
	      		<% } else { %>
	      			<a href="/shifts/show/<%=data[i].turnoId%>">Asignado</a>
	      		<% } %>
	      	</td>
	      <% } %>
	    </tr>
	    <tr>
	      <td>18</td>
	      <% for(var i=1; i<data.length; i=i+4) { %>
	      	<td>
	      		<% if(data[i].pacId === null) { %>
	      			<a href="/shifts/assign/<%=data[i].turnoId%>">Disponible</a>
	      		<% } else { %>
	      			<a href="/shifts/show/<%=data[i].turnoId%>">Asignado</a>
	      		<% } %>
	      	</td>
	      <% } %>
	    </tr>
	    <tr>
	      <td>19</td>
	      <% for(var i=2; i<data.length; i=i+4) { %>
	      	<td>
	      		<% if(data[i].pacId === null) { %>
	      			<a href="/shifts/assign/<%=data[i].turnoId%>">Disponible</a>
	      		<% } else { %>
	      			<a href="/shifts/show/<%=data[i].turnoId%>">Asignado</a>
	      		<% } %>
	      	</td>
	      <% } %>
	    </tr>
	    <tr>
	      <td>20</td>
	      <% for(var i=3; i<data.length; i=i+4) { %>
	      	<td>
	      		<% if(data[i].pacId === null) { %>
	      			<a href="/shifts/assign/<%=data[i].turnoId%>">Disponible</a>
	      		<% } else { %>
	      			<a href="/shifts/show/<%=data[i].turnoId%>">Asignado</a>
	      		<% } %>
	      	</td>
	      <% } %>
	    </tr>
	  </tbody>
	</table>
</div>
<br><br>
<p class="pull-right"><small>Seleccione un turno para asignarlo o para ver su descripci&oacute;n</small></p>
