<div class="container">
	<h3 class="sub-header pull-left">Historia Cl&iacute;nica</h3>
	<br><br><br>
	<h4>Paciente: <%= data[0].pacApellido %>, <%= data[0].pacNombre %></h4>
	<hr style="background:#245580; border:0; height:1px" />
	<% if (data[0].descripcion) {
		for (var i = 0; i < data.length; i++) { %>
			<% if (i % 2 === 0) { %>
				<div>
					Fecha: <%= data[i].fecha %>
					<br>
					<%= data[i].descripcion %>
					<br>
					Atendido por: <%= data[i].medApellido %>, <%= data[i].medNombre %>
					<br>
				</div>
				<hr style="background:#245580; border:0; height:1px" />
			<% } else { %>
				<div class="right">
					Fecha: <%= data[i].fecha %>
					<br>
					<%= data[i].descripcion %>
					<br>
					Atendido por: <%= data[i].medApellido %>, <%= data[i].medNombre %>
					<br>
				</div>
				<hr style="background:#245580; border:0; height:1px; float:left" />
			<% }
		} %>
		<br><br><br>
	<% } else { %>
		<p>No hay historia cl&iacute;nica del paciente seleccionado</p>
	<% } %>
	<hr style="background:#245580; border:0; height:1px" />
	<form action="/ch/newCH/<%= data[0].pacId %>" method="get">
		<button type="submit" class="btn btn-primary btn-sm pull-right">+ Agregar</button>
	</form>
</div>
<br>