<div class="container">
	<h3 class="sub-header pull-left">Profesionales registrados</h3>
	<br>
	<form action="/mds/newMD" method="get">
		<button type="submit" class="btn btn-primary btn-sm pull-right">+ Agregar</button>
	</form>
</div>
<br>
<div class="table-responsive" style="background:white">
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th>#</th>
	      <th>Apellido</th>
	      <th>Nombre</th>
	      <th>DNI</th>
	      <th>Matr&iacute;cula</th>
	      <th width="150px">Acciones</th>
	    </tr>
	  </thead>
	  <tbody>
		<% if (data.length) {
			for (var i = 0; i < data.length; i++) { %>
				<tr>
			      <td><%= data[i].medId %></td>
			      <td><%= data[i].apellido %></td>
			      <td><%= data[i].nombre %></td>
			      <td><%= data[i].dni %></td>
			      <td><%= data[i].nroMatricula %></td>
			      <td>
			      	<div class="button-container">
			      		<form action="/mds/update/<%=data[i].medId%>" method="get">
				      		<button type="submit" class="btn btn-success btn-xs">Editar</button>
				      	</form>
				      	<form action="/mds/delete/<%=data[i].medId%>" method="get">
				      		<button type="submit" class ="btn btn-danger btn-xs" onClick="return confirm('Eliminar médico?');">Eliminar</button>
				      	</form>
			      	</div>
			      </td>
			    </tr>
			<% }
       	} else { %>
            	<tr>
                	<td colspan="3">No hay m&eacute;dicos registrados</td>
                </tr>
        <% } %>
	  </tbody>
	</table>
</div>